<header class="main-header">
    @* BEGIN Logo *@
    <a href="@Url.Action("Index", "Home")" class="logo">
        @* Mini logo for sidebar 50x50 pixels *@
        <span class="logo-mini"><b>A</b>LT</span>
        @* Logo for regular state and mobile devices *@
        <span class="logo-lg">SIMS</span>
    </a>
    @* END Logo *@

    @* BEGIN Header *@
    <nav class="navbar navbar-static-top" role="navigation">
        <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
            <span style="font-size:30px;"> &nbsp; &nbsp; Store Information Management System</span>
            &nbsp; &nbsp;
            <img src="~/Content/img/carter_logo.jpg"
        </a>
    </nav>
</header>